header {
    text-align: center;
    font-size: 7vh;
    color: rgb(0, 38, 255);
}

nav {
    display: flex;
    width: 100vw;
} 

ul {
    display: flex;
    width: 100vw;
    justify-content: space-around;
} 